* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.matchfield {
    background-color: lightcyan;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 50vh;
    max-height: 75vh;
    gap: 3px;
    padding: 10px;
    width: 100%;
    overflow-y: scroll;
}

.stack {
   margin: 20px;
   position: fixed;
   left: 10%;
   top: 50%;
   background-color: rgb(233, 233, 166);
   width: 45px;
   height: 55px;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   text-align: center;
   padding-top: 2px;
   font-size: 1.9rem;
   font-weight: bolder;
   position: relative;
   border-radius: 4px;
   box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
   border: .1px solid rgba(0, 0, 0, 0.424);
   position: relative;
   z-index: 1;

   &::before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 10%;
    width: 45px;
    background-color: rgb(233, 233, 166);
    height: 55px;
    padding-top: 2px;
    font-size: 1.9rem;
    font-weight: bolder;
    border-radius: 4px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    border: .1px solid rgba(0, 0, 0, 0.424);
   }

   &::after {
    content: '';
    position: absolute;
    z-index: 2;
    left: 5%;
    top: 10%;
    width: 45px;
    height: 55px;
    background-color: rgb(233, 233, 166);
    padding-top: 2px;
    font-size: 1.9rem;
    font-weight: bolder;
    border-radius: 4px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    border: .1px solid rgba(0, 0, 0, 0.424);
   }
}

.stone {
    background-color: rgb(233, 233, 166);
    width: 45px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding-top: 2px;
    font-size: 1.9rem;
    font-weight: bolder;
    position: relative;
    border-radius: 4px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    border: .1px solid rgba(0, 0, 0, 0.424);

    &.red {
        color: red;
    }

    &.green {
        color: green;
    }

    &.blue {
        color: blue;
    }

    &.orange {
        color: orange;
    }

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid rgba(166, 166, 166, 0.52);
        transform: translate(-50%);
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.367);
        opacity: .7;
    }
}

.board {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(88, 84, 81);
    width: 100%;
    height: 30vh;
    position: relative;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    padding-top: 10px;
    justify-content: center;

}